@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

nav{
	display: inline;
	font-family:Open Sans;
	font-size: 25px;
}
p{
font-family: sans-serif;
margin-left: 200px;
margin-right:200px;
margin-top: 30px;
font-size: 30px;
}
li{
  font-family: sans-serif;
  margin-left: 200px;
  margin-right:200px;
  margin-top: 30px;
  font-size: 30px;
}
a{
	margin: 30px;
}
h1{
	font-size:40px;
	font-family: PT Sans Narrow;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
