@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body{
	background-image:url("Schizoaffective.jpg");
	background-repeat:repeat;
	background-size:cover;
	height: 50px;
}
nav{
	display: inline;
	font-family:Open Sans;
	font-size: 2.5em;
	font-weight:bold;
	text-shadow:
	-1px -1px 0 #FFF,
	1px -1px 0 #FFF,
	-1px 1px 0 #000,
	 1px 1px 0 #000;
			 font-weight:100px;
			 position:relative;
			 background:transparent;
			 padding:0 12px;
}
div{
	font-family: sans-serif;
	margin-left: 200px;
	margin-right:200px;
	margin-top: 30px;
	font-size: 2em;
	color:white;
	font-weight:bold;
	text-shadow:
	   -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
	background:grey;
	text-indent: 1em;
}
/*
p{
font-family: sans-serif;
margin-left: 200px;
margin-right:200px;
margin-top: 30px;
font-size: 2em;
color:white;
font-weight:bold;
text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
		 font-weight:100;
		 position:relative;
		 top:18px;
		 background:grey;
		 text-align: justify;
		 text-indent: 50px;
}*/
.sub-heading{
	text-decoration:underline;
	text-align:center;
	font-size:3em;
	color:red;
	text-shadow:
	   -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
			 font-weight:100;
			 background-color:transparent;
}
.sub-heading:hover{
	background-color:blue;
}
ul{
	color: white;
	font-weight:bold;
	text-shadow:
	   -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
	position:relative;
	font-family: sans-serif;
	font-size: .9em;
	line-height: 1.3em;
	text-indent: 1em;
}

h1{
	font-size:4em;
	font-family: Titillium Web);
	font-weight:bold;
	text-shadow:
	   -1px -1px 0 #FFF,
	    1px -1px 0 #FFF,
	    -1px 1px 0 #000,
	     1px 1px 0 #FFF;
			 letter-spacing: 1px;
			 color:red;
	     position: relative;
	     -webkit-animation: disorder 10s linear 3s infinite; /* Chrome, Safari, Opera */
	     animation: disorder 10s linear 3s infinite;
	 }
	 /* Chrome, Safari, Opera */
	 @-webkit-keyframes disorder{
	     0%   {color:#FF0000 ;}
	     25%  {color:#FFFF33;}
	     50%  {color:#0000CC;}
	     75%  {color:#99FF00;}
	     100% {color:#FF00FF;}
	 }

	 /* Standard syntax */
	 @keyframes disorder {
	     0%   {color:#FF0000 ;}
	     25%  {color:#FFFF33;}
	     50%  {color:#0000CC;}
	     75%  {color:#99FF00;}
	     100% {color:#FF00FF;}
}
.underline{
	text-decoration: underline;
}
a{
	margin: 30px;
}
a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

footer{
	display: inline;
	text-align:center;
	background-color:grey;
	font-weight: bolder;
}
